In [1]:
import yfinance as yf
import pandas as pd

In [2]:
alphabet = [chr(i) for i in range(65,91)]

In [3]:
url = r'https://www.bankier.pl/gielda/notowania/ranking-popularnosci?start={}'

list_of_gpw_stocks = pd.concat([pd.read_html(url.format(symbol))[0] for symbol in alphabet +['0-9']]).dropna()
list_of_gpw_stocks.reset_index(drop=True)

,Miejsce w rankingu AD,Walor AD,Ticker AD,Liczba postów forum (30 dni) AD,Rynek AD,Płynność AD,Zmiana procentowa 1D AD
0,3.0,ALLEGRO,ALE,1054.0,GPW,wysoka,"-1,25%"
1,25.0,ASBIS,ASB,1125.0,GPW,wysoka,"-1,11%"
2,36.0,ARCTIC,ATC,88.0,GPW,wysoka,"-1,30%"
3,48.0,ALIOR,ALR,254.0,GPW,wysoka,"0,29%"
4,49.0,AUTOPARTN,APR,64.0,GPW,wysoka,"-2,11%"
...,...,...,...,...,...,...,...
688,261.0,1SOLUTION,ONE,88.0,NewConnect,niska,"0,00%"
689,537.0,4MOBILITY,4MB,22.0,NewConnect,niska,"0,00%"
690,600.0,7LEVELS,7LV,33.0,NewConnect,niska,"1,25%"
691,607.0,7FIT,7FT,34.0,NewConnect,niska,"0,00%"
692,636.0,08OCTAVA,08N,69.0,GPW,niska,"0,52%"

In [5]:
gpw_tickers = list_of_gpw_stocks['Ticker AD']
gpw_tickers

0    ALE
1    ASB
2    ATC
3    ALR
4    APR
    ...
4    ONE
5    4MB
6    7LV
7    7FT
8    08N
Name: Ticker AD, Length: 693, dtype: object

Download csv file from https://www.nasdaq.com/market-activity/stocks/screener and save in notebooks directory using name `nasdaq_stocks.csv`

In [ ]:
pd.read_csv('nasdaq_stocks.csv')

In [ ]:
CURRENCIES = ["EUR", "USD", "CHF", "GBP"]
STOCK =

In [6]:
eurpln = yf.Ticker("PLNEUR=X")

In [ ]:
eurpln.info

In [7]:
nvda = yf.Ticker("ASB.wa")

In [ ]:
nvda.info

In [8]:
nvda = yf.Ticker("nvda")

In [10]:
nvda.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2024-11-19 16:00:00-05:00           NaN           NaN          NaN
2024-08-21 06:00:00-04:00           NaN           NaN          NaN
2024-05-22 06:00:00-04:00           NaN           NaN          NaN
2024-02-21 16:00:00-05:00          4.12           NaN          NaN
2024-02-21 05:00:00-05:00          4.12           NaN          NaN
2023-11-21 11:00:00-05:00          3.37          4.02       0.1922
2023-08-23 12:00:00-04:00          2.09          2.70       0.2941
2023-05-24 12:00:00-04:00          0.92          1.09       0.1857
2023-02-22 11:00:00-05:00          0.81          0.88       0.0875
2022-11-16 11:00:00-05:00          0.69          0.58      -0.1647
2022-08-24 12:00:00-04:00          1.26          0.51      -0.5938
2022-05-25 12:00:00-04:00          1.29          1.36       0.0515

In [12]:
yf.Ticker("aapl").earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2024-10-31 06:00:00-04:00           NaN           NaN          NaN
2024-08-01 06:00:00-04:00           NaN           NaN          NaN
2024-05-02 06:00:00-04:00           NaN           NaN          NaN
2024-01-31 16:00:00-05:00          1.92           NaN          NaN
2024-01-31 05:00:00-05:00          1.92           NaN          NaN
2023-11-02 12:00:00-04:00          1.39          1.46       0.0492
2023-08-03 12:00:00-04:00          1.19          1.26       0.0549
2023-05-04 12:00:00-04:00          1.43          1.52       0.0603
2023-02-02 11:00:00-05:00          1.94          1.88      -0.0288
2022-10-27 12:00:00-04:00          1.27          1.29       0.0155
2022-07-28 12:00:00-04:00          1.16          1.20       0.0325
2022-04-28 12:00:00-04:00          1.43          1.52       0.0644